---
import Icon from '../AstroIcon.astro';
---

<script src='./topics.js'></script>

<div class='relative mt-5 sm:mt-6 sm:-mb-[68px]'>
  <input
    autofocus
    type='text'
    id='search-topic-input'
    class='sm:text-md block w-full rounded-md border border-gray-300 px-2.5 py-2 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 sm:px-3'
    placeholder='Search for a topic'
  />

  <span
    class='absolute top-1/2 right-4 flex -translate-y-1/2 items-center text-sm text-gray-500'
  >
    <Icon icon='search' />
  </span>
</div>
